
body {
        font-family: "Roboto", sans-serif;
        background-color: #f9f8fa;
    }




.navbutton{
        color: black;
    }

.divmenu{
    /* margin: .1rem 0 0 8rem; */
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    background-color: #fff;
    justify-content: space-between;
}
.logo {
    width: 23.375rem;
    margin-left: 3.5rem;
}

.ulmenu {
    align-items: center;
    justify-content: center;
}
.nav-item {
    margin: 0 1rem;
}

.menuitems{
    font-size: 1.2rem;
    font-weight: 300;
    color: #6C6379;
    }
.login {
    color: #fff;
    font-size: bold;
    border-radius: 0;
    border: 3px solid black;
    transition: 0.5s all;
}

.login:hover{
    background-color: #fff;
    color: black;
    scale: 1.05;
}

.navbar-toggler{
    border-radius: 0;
    margin-right: 0.5rem;
}

.intro{
    color: black;
    margin-top: 12rem;
}

h2{
    letter-spacing: 2px;
    font-size: 0.75rem;
    font-family: 'Rubik', sans-serif;
}
h1{
    margin-top: 2rem;
    font-size: 3.2941176470588rem;
    font-family: 'Rubik',sans-serif;
    font-weight: 700;
}
.introdivpara{
    color: #584D66;
    font-family: 'Karla',sans-serif;
    font-size: 1.05rem;
}

.ulsocialmedia{
    padding-left: 0;
}

.lisocialmedia{
    list-style: none;
    display: inline-block;
    margin-right: 4rem;
    color: #584D66;
    font-family: 'Karla',sans-serif;
    font-weight: bold;
}
.login2{
    border-radius: 0;
    font-size: bold;
}



@media (max-width: 576px) {
    .navbar-brand img {
      width: 10.34rem;
      margin-left: 2rem;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .navbar-brand img {
      width: 17rem;
      margin-left: 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-brand img {
      width: 25rem;
    }
  }
  